@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  // border: 1px solid red;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #bce6ff, #6cc9ff);
}
  
#board {
  
}

.header-container {
  border-bottom: 1px solid grey;
}

.column-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  
}

.column, .card {
  border-radius: 5px;
  position: relative;
  border: 1px solid grey;
}

.column {
  margin: 15px;
  width: 300px;
  min-height: 200px;
  background-color: #E5EFF5;
}

.card {
  margin: 5px;
  padding: 5px;
  background-color: #ffffff;
}

button {
  border: 1px solid;
  &:hover {
    cursor: pointer;
  }
}
.btn-delete {
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 0;
  color: white;
  background-color: #f17571;
  border-color: #a85350;
  font-size: 10px;
  &:hover {
    background-color: #c9302c;
    border-color: #c9302c;
  }
}

.create-column, .add-card {
  margin: 5px;
  border-radius: 5px;
  &:hover {
    color: white;
    background-color: #5cb85c;
    border-color: #468f46;
  }
}

.create-column {
  padding: 8px 10px;  
  font-size: 18px; 
  margin: 10px;
}

h1, h2, p {
  text-align: center;
  margin: 0;
  padding: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  min-height: 80px;
}
